<%
  props = {
    interactiveModulesUrl:  admin_interactive_modules_url,
  }
%>

<%= javascript_pack_tag 'interactive_modules_editor' %>

<div id="interactiveModulesEditor" data-props="<%= props.to_json %>"></div>


<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interactive_modules.each do |interactive_module| %>
      <tr>
        <td><%= interactive_module.name %></td>
        <td><%= link_to interactive_module.description, admin_interactive_module_path(interactive_module) %></td>
        <td><%= link_to 'Edit', edit_admin_interactive_module_path(interactive_module) %></td>
        <td><%= link_to 'Destroy', admin_interactive_module_path(interactive_module), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->a

<br>

<%= link_to 'New interactive_module', new_admin_interactive_module_path %>
