<%= form_with(model: [:admin, lesson]) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="LessonHeaderEdit">
    <div class="backButtonContainer">
      <div class="backButton">
        <div class="smallBackArrow"> </div>
        <%#= link_to 'Назад к уроку', admin_lesson_path(lesson) %>
        <%= link_to 'Назад', :back %>
      </div>
    </div>

    <div class="field" >
      <%#= form.label :name %>
      <%= form.text_field :name %>

    </div>

    <div class="field">
      <%#= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
