<p id="notice"><%= notice %></p>

<h1>Настройка разделов</h1>

<div class="LessonsTable">
  <% @lessons.each do |lesson| %>
    <div class="TableNameDescriptionEdit">
      <%= link_to admin_lesson_path(lesson), class: 'TableNameDescription' do %>
        <span><%= lesson.name %></span>
        <span><%= lesson.description %></span>
      <% end %>
      
      <span><%= link_to 'Edit', edit_admin_lesson_path(lesson) %></span>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Lesson', new_admin_lesson_path %>
