<p id="notice"><%= notice %></p>

<h1>Настройка разделов</h1>

<div class="LessonsTable">
  <% @lessons.each do |lesson| %>
    <div class="TableNameDescriptionEdit">
      <div class="TableNameDescription">
        <span><%= lesson.name %></span>
        <span><%= link_to lesson.description, admin_lesson_path(lesson) %></span>
      </div>
      <span><%= link_to 'Edit', edit_admin_lesson_path(lesson) %></span>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Lesson', new_admin_lesson_path %>
