<div class="Lessons FourthLesson">

  <div class="MenuBar">
    <div class="LeftMenubarPart">
      <div class="MenuButton"></div>
      <span>Четвертый урок</span>
      <!-- <span>Баллы</span> -->
    </div>
    <div class="LogoMenubarContainer">
      <div class="LogoADC"></div>
    </div>
  </div>

  <div class="LessonHeader">
    <div class="LessonHeaderContainer">
      <div class="LessonName">
        <span>Четвертый урок</span>
        <h1>Звуковые эффекты в Tone.js</h1>
      </div>
      <div class="LessonDescription">
        <span>Описание</span>
        <h5>В этом уроке мы познакомим вас со всеми эффектами доступными в Tone.js. Вы сможете использовать этот урок в будущем, чтобы возвращаться к описанию эффектов.  </h5>
      </div>
    </div>
  </div>

  <h2>AutoFilter</h2>
  <p>Это обычнй фильтр частот, к которому подсоединили LFO. </p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(26)) %>" width="600px" height="896px"></iframe>
  </div>

  <h2>AutoPanner</h2>
  <p>Обычный паннер, к которому подключили LFO.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(27)) %>" width="600px;" height="528px"></iframe>
  </div>

  <h2>AutoWah</h2>
  <p>Эффект с помощью фильтра создает квакающий эффект: «Wah-wah»</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(28)) %>" width="600px;" height="656px"></iframe>
  </div>

  <h2>BitCrusher</h2>
  <p>Создает специфичный эффект перегруза за счет понижения битности звука.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(29)) %>" width="600px;" height="402px"></iframe>
  </div>

  <h2>Chebyshev</h2>
  <p>Создает разные виды перегруза. </p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(30)) %>" width="600px;" height=466px"></iframe>
  </div>

  <h2>Chorus</h2>
  <p>Имитирует хоровое звучание звукового сигнала. </p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(31)) %>" width="600px;" height="654px"></iframe>
  </div>

  <h2>Distortion</h2>
  <p>Обычный перегруз. </p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(32)) %>" width="600px;" height="466px"></iframe>
  </div>

  <h2>FeedbackDelay</h2>
  <p>Обычный Delay, который возвращает обратный сигнал и заного его обрабатывает. </p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(33)) %>" width="600px;" height="464px"></iframe>
  </div>

  <h2>Freeverb</h2>
  <p>Особый вид реверба. Создает эффект большого пространства.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(34)) %>" width="600px;" height="464px"></iframe>
  </div>

  <h2>FrequencyShifter</h2>
  <p>Эффект может использоваться для сдвига всех частот сигнала на указанную величину.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(35)) %>" width="600px;" height="402px"></iframe>
  </div>

  <h2>JCReverb</h2>
  <p>Особый реверб созданный Джоном Чоунингом в 1970-ом году.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(36)) %>" width="600px;" height="594px"></iframe>
  </div>

  <h2>Phaser</h2>
  <p>Меняет фазу синтезатора</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(38)) %>" width="600px;" height="594px"></iframe>
  </div>

  <h2>PingPongDelay</h2>
  <p>Эффект создан из Feedback Delay. Он настроен так, что звук приобритает эффект: «Ping-pong»</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(39)) %>" width="600px;" height="560px"></iframe>
  </div>

  <h2>PitchShift</h2>
  <p>Меняет Pitch исходящего сигнала.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(40)) %>" width="600px;" height="560px"></iframe>
  </div>

  <h2>Reverb</h2>
  <p>Создает эффект расширенного пространства.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(41)) %>" width="600px;" height="464px"></iframe>
  </div>

  <h2>StereoWidener</h2>
  <p>Расширяет средние частоты исходящего сигнала.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(42)) %>" width="600px;" height="402px"></iframe>
  </div>

  <h2>Tremolo</h2>
  <p>Создает эффект тремоло.</p>


  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(43)) %>" width="600px;" height="654px"></iframe>
  </div>

  <h2>Vibrato</h2>
  <p>Создает эффект вибрато.</p>

  <div class="InteractiveBlock">
    <iframe loading="auto" src="<%= interactive_module_url(InteractiveModule.find(44)) %>" width="600px;" height="532px"></iframe>
  </div>

  <a href="https://tonejs.github.io/docs/14.7.77/AutoFilter">Здесь можно посмотреть документацию эффектов в Тоне</a>

  <h2>Итог</h2>
  <p>Теперь вы знакомы с большим количеством звуковых эффектов. В следующем уроке мы расскажем вам про микширование.</p>

  <div class="NextLessonControl">
    <div class="NextLessonControlContainer">
      <div class="BackButton">
        <%= link_to 'Назад', @previous_lesson %>
      </div>
      <div class="NextButton">
        <%= link_to 'Следующий урок', @next_lesson %>
      </div>
    </div>
  </div>
    </div>
