<div class="Main">


<div class="MenuBar">
  <div class="LeftMenubarPart">
    <div class="MenuButton"></div>
    <span>Первая глава</span>
    <span>Баллы</span>
  </div>
  <div class="LogoMenubarContainer">
    <div class="LogoADC"></div>
  </div>
</div>

<div class="LessonHeader">
  <div class="LessonHeaderContainer">
    <div class="LessonName">
      <span>Глава: Первая глава</span>
      <h1>Вступление</h1>
    </div>
    <div class="LessonDescription">
      <span>Описание</span>
      <h5>Из последних уроков вы узнали, как организуются ноты в гаммы. А теперь давайте посмотрим, как организуются ноты в аккорды. Аккорд – это группа звуков разной высоты, звучащих одновременно.</h5>
    </div>
  </div>


    <div class="Divider"> </div>
</div>

<div class="BigHeaderBlock">
  <h2>Синтез электронного звука. Осцилятор</h2>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>

<div class="MediumHeaderBlock">
  <h3>Синтез электронного звука. Осцилятор</h3>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>

<div class="InteractiveBlock">
  <div class="support_module"></div>
  <iframe src="<%= interactive_module_url(InteractiveModule.find(1)) %>" width="100%" height="264px"></iframe>
</div>

<div class="MediumHeaderBlock">
  <h3>Как мы привыкли?</h3>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>

<div class="InteractiveBlock">
  <div class="support_module"></div>
  <iframe src="<%= interactive_module_url(InteractiveModule.find(2)) %>" width="100%" height="800"></iframe>
</div>

<div class="MediumHeaderBlock">
  <h3>Как звук работает в коде?</h3>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>

<div class="InteractiveBlock">
  <div class="support_module"></div>
  <iframe src="<%= interactive_module_url(InteractiveModule.find(3)) %>" width="100%" height="800"></iframe>
</div>

<div class="MediumHeaderBlock">
  <h3>Как последовательность нот проигрывается?</h3>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>

<div class="InteractiveBlock">
  <div class="support_module"></div>
  <iframe src="<%= interactive_module_url(InteractiveModule.find(4)) %>" width="100%" height="800"></iframe>
</div>

<div class="BigHeaderBlock">
  <h2>Синтез электронного звука. Синтезатор</h2>
  <p>Объяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезатор</p>
</div>

<div>
    <h4>Detune</h4>
    <div>Рассказать про detuneРассказать про detune</div>
  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(5)) %>" width="100%" height="800"></iframe>
  </div>

  <h4>Frequency</h4>
  <div>Рассказать про detuneРассказать про detune</div>
  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(5)) %>" width="100%" height="800"></iframe>
  </div>

  <h4>Filter</h4>
  <div>Рассказать про detuneРассказать про detune</div>
  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(5)) %>" width="100%" height="800"></iframe>
  </div>

  <h4>Portamento</h4>
  <div>Рассказать про detuneРассказать про detune</div>
  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(5)) %>" width="100%" height="800"></iframe>
  </div>

  <h4>ADSR</h4>
  <div>Рассказать про detuneРассказать про detune</div>
  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(5)) %>" width="100%" height="800"></iframe>
  </div>
</div>

<div class="BigHeaderBlock">
  <h2>Синтез электронного звука. Эффекты</h2>
  <p>Объяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезаторОбъяснить про tone.js и синтезатор</p>
</div>

<div class="MediumHeaderBlock">
  <h3>Пример эффектов</h3>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>

<div class="InteractiveBlock">
  <div class="support_module"></div>
  <iframe src="<%= interactive_module_url(InteractiveModule.find(6)) %>" width="100%" height="800"></iframe>
</div>

<div class="MediumHeaderBlock">
  <h3>Чейнинг эффектов</h3>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>

<div class="InteractiveBlock">
  <div class="support_module"></div>
  <iframe src="<%= interactive_module_url(InteractiveModule.find(7)) %>" width="100%" height="800"></iframe>
</div>

<div class="MediumHeaderBlock">
  <h3>Использование семплов</h3>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>

<div>
  <div class="support_module"></div>
 <!-- сэмплер -->
</div>

<div class="MediumHeaderBlock">
  <h3>Создание музыкальной последовательности</h3>
  <p>тексттексттексттексттексттексттексттексттексттексттекст</p>
</div>










<%= link_to 'Next lesson', @next_lesson %>

</div>
