<div class="Lessons ThirdLesson">
<div class="MenuBar">
  <div class="LeftMenubarPart">
    <div class="MenuButton"></div>
    <span>Третий урок</span>
    <!-- <span>Баллы</span> -->
  </div>
  <div class="LogoMenubarContainer">
    <div class="LogoADC"></div>
  </div>
</div>

<div class="LessonHeader">
  <div class="LessonHeaderContainer">
    <div class="LessonName">
      <span>Третий урок</span>
      <h1>Инструменты в тоне</h1>
    </div>
    <div class="LessonDescription">
      <span>Описание</span>
      <h5>В этом уроке мы расскажем вам про то, какие есть инструменты в тоне и покажем как устроены синтезаторы .</h5>
    </div>
  </div>
</div>

  <h2>Синты и сэмплеры</h2>
  <p>В тоне есть два типа инструментов - синтезатор и сэмплер. Синтезатор генерирует звук исходя из настроек его параметров. В тоне есть 8 разных видов синтезаторов: Tone Synth, Mono Synth, FM Synth, AM Synth, Poly Synth, Fat Oscilator, Metal Synth, Granular Synth. У семплера нет подвидов, так как его суть в том, что он воспроизводит загруженные аудио файлы.  </p>
  <h3>Tone Synth </h3>
  <p>Состоит из минимального набора - одного осцилятора и ADSR-огибающей.</p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(17)) %>" width="100%" height="624px"></iframe>
  </div>

  <h4>Mono Synth</h4>
  <p>Cостоит из одного осцилятора, одного фильтра и двух ADSR-огибающих. Обе огибающих срабатывают одновременно при триггере ноты. </p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(18)) %>" width="100%" height="624px"></iframe>
  </div>

  <h4>FM Synth</h4>
  <p>Cостоит из двух Tone Synth, где первый синтезатор модулирует частоту второго. </p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(19)) %>" width="100%" height="624px"></iframe>
  </div>

  <h4>AM Synth </h4>
  <p>Также состоит из двух Tone Synth. Первый модулирует амплитуду второго.</p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(20)) %>" width="100%" height="624px"></iframe>
  </div>

  <h4>Poly Synth </h4>
  <p>Poly Synth сам по себе не является синтезатором, он объединяет в себе монофонические синтезаторы, создавая полифонический синтезатор. Этот синтезатор нужен, чтобы играть аккордами.</p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(23)) %>" width="100%" height="624px"></iframe>
  </div>


  <h3>Заключение</h3>
  <p>Вы познакомились с основными инструментами в Тоне. В следующем уроке мы расскажем про звуковые эффекты.</p>

  <div class="NextLessonControl">
    <div class="NextLessonControlContainer">
      <div class="BackButton">
        <%= link_to 'Назад', @previous_lesson %>
      </div>
      <div class="NextButton">
        <%= link_to 'Следующий урок', @next_lesson %>
      </div>
    </div>
  </div>
</div>
