<div class="Lessons FirstLesson ">
  <div class="MenuBar">
    <div class="LeftMenubarPart">
      <div class="MenuButton"></div>
      <span>Первый урок</span>
    </div>
    <div class="LogoMenubarContainer">
      <div class="LogoADC"></div>
    </div>
  </div>

  <div class="LessonHeader">
    <div class="LessonHeaderContainer">
      <div class="LessonName">
        <span>Первый урок</span>
        <h1>Cинтез звука</h1>
      </div>
      <div class="LessonDescription">
        <span>Описание</span>
        <h5>В этом уроке мы расскажем тебе, как создается звук в браузере. Также немного расскажем, про синтезаторы, эффекты, секвенсоры и сэмплеры. </h5>
      </div>
    </div>
  </div>

  <h2>Синтез электронного звука</h2>
  <p>Разработчики веб-технологий позаботились о том, чтобы программисты могли создавать мелодии прямо в браузере. Библиотека Tone.js является инструментом, используя который программист может создавать музыкальные произведения.</p>

  <h3>Как появляется звук в браузере?</h3>
  <p>Как и в любом синтезаторе, вначале нужно, чтобы музыкант нажал клавишу на клавиатуре, после чего начнет синтезироваться звук. Чтобы заставить браузер генерировать звук, нужно всего лишь используя Tone отправить верные команды.</p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(1)) %>" width="100%" height="264px"></iframe>
  </div>

  <h3>Как мы привыкли?</h3>
  <p>Внешний вид триггера никак не влияет на логику и суть. Вместо значений нот и длительности можно подставить клавиатуру. Интерфейс ввода не имеет значения. Имеют значения передающиеся в Tone параметры.</p>

  <div class="InteractiveBlock" >
    <div class="support_module"></div>
    <iframe scrolling="no" src="<%= interactive_module_url(InteractiveModule.find(23)) %>" width="100%" height="344px"></iframe>
  </div>

  <h3>Как проигрывается последовательность нот?</h3>
  <p>Наиболее удобный интерфейс, для написания мелодий — это секвенсор. Он позволяет выбрать пользователю, в какой промежуток времени инструменту сыграть ту или иную ноту. Далее в курсе мы подробнее расскажем про длительность и тайминги в Тоне.</p>

  <div class="InteractiveBlockSequencer">
    <div class="support_module"></div>
    <iframe src="<%= interactive_module_url(InteractiveModule.find(3)) %>" width="1185px" height="490"></iframe>
  </div>

  <h2>Синтезатор</h2>
  <p>Хорошо, но что придает звуку характер? А придает его, тот кто его производит, а именно синтезатор. В Тоне существует 7 разных синтезаторов. Каждый из них имеет свои особенности и предназначение. Сейчас мы покажем принцип устройства Тон синта, а далее в курсе подробнее расскажем про каждый синт по отдельности.</p>
  <p>У каждого синта есть свои уникальные настройки. У Тон синта это — Detune, Frequency, Phase, Portamento и ADSR.</p>

  <h4>Detune</h4>
  <p>Эта настройка сбрасывает частоты финальной волны и таким образом звук либо понижается, либо повышается. </p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(4)) %>" width="100%" height="360"></iframe>
  </div>

  <h4>Frequency</h4>
  <p>Эта настройка непосредственно влияет на регистр частоты синтезатора.</p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(5)) %>" width="100%" height="360"></iframe>
  </div>

  <h4>Phase</h4>
  <p>Фаза убирает выбранные частоты, таким образом звук становится глухим.</p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(6)) %>" width="100%" height="360"></iframe>
  </div>

  <h4>Volume</h4>
  <p>Влияет на громкость синтезатора.</p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(7)) %>" width="100%" height="640"></iframe>
  </div>

  <h4>ADSR (генератор огибающей)</h4>
  <p>Эти настройки позволяют менять длительность звучания ноты в разных этапах ее звучания.</p>
  <p>Attack (Подъём) — Определяет время, нужное для того, чтобы громкость ноты достигла своего максимального уровня.
  <p>Decay (Спад) — определяет время, в течение которого происходит переход от максимального уровня к уровню Задержки (Sustain).</p>
  <p>Sustain (Задержка) — описывает уровень звука, играемый во время удержания клавиши (после того как другие составляющие: Подъём и Спад уже отыграли).</p>
  <p>Release (Затухание) — определяет время нужное для окончательного спада уровня ноты до нуля, после того как клавиша отпущена.</p>



  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(22)) %>" width="100%" height="640"></iframe>
  </div>

  <h2>Звуковые эффекты</h2>
  <p>После того, как сигнал покинул синтезатор, он направляется в колонки. Но это не всегда так. Иногда музыканты подключают к этому звуку эффекты (sound effects), чтобы еще сильнее изменить его. </p>

  <h3>Пример использования эффекта</h3>
  <p>Таким же образом эффекты работают и в браузере. На примере можете потыкать и послушать, что происходит со звуком, когда мы подключаем Хорус.</p>
  <p>У каждого эффекта есть ручка WET, которая увеличивает либо уменьшает количество эффекта.</p>
  <p>Другие настройки индивидуальны для каждого эффекта. В интернете есть больше информации про звуковые эффекты про то, как они устроены и как они работают</p>

  <div class="InteractiveBlock">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(8)) %>" width="100%" height="660"></iframe>
  </div>

  <h3>Последовательность эффектов</h3>
  <p>Можно добавлять и несколько эффектов, накладывать их друг на друга и создавать все более и более странный результат. Процесс наложения эффектов на звук в Тоне называется — чейнинг (effects chaning).</p>

  <div class="InteractiveBlockChaning">
  <iframe src="<%= interactive_module_url(InteractiveModule.find(9)) %>" width="1440px" height="660"></iframe>
  </div>

  <h3>Использование семплов</h3>
  <p>Мы научились синтезировать и обрабатывать звук. Но для того, чтобы сделать бит, удобнее загрузить предзаписанные звуки ударных в виде аудиофайлов (семплов). Семплер позволяет загрузить в инструмент любой аудиофайл.</p>

  <div class="InteractiveBlockSequencer">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(10)) %>" width="800" height="42"></iframe>
  </div>

  <h3>Создание музыкальной последовательности</h3>
  <p>Теперь мы можем соединить все инструменты в один оркестр и наслаждаться их звучанием.</p>
  <p>Перед вами два инструмента: Синтезатор и Семплер</p>
  <div class="InteractiveBlockMakeSequence">
    <iframe src="<%= interactive_module_url(InteractiveModule.find(11)) %>" width="1500" height="1000"></iframe>
  </div>

  <h2>Заключение</h2>
  <p>Вы познакомились с основами устройства звука в браузере. В следующем уроке мы разберем время и ноты в Тоне.</p>

  <div class="NextLessonControl">
    <div class="NextLessonControlContainer">
      <div style="color: #fff;">На главную</div>
      <%= link_to 'Следующий урок', @next_lesson %>
    </div>
  </div>
</div>
