<!DOCTYPE html>
<html>
  <head>
    <title>Adc2019Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="interactive_modules_<%= action_name %> <%= @interactive_module && @interactive_module.persisted? ? 'interactive_module_body_' + @interactive_module.id.to_s : '' %>">
    <%= yield %>
  </body>
</html>
